.footer {
    text-align: center;
    padding-top: 20px;
    background-color: #76B947;

    .footer__info {
        display: flex;
        justify-content: center;

        &>div {
            margin: 0 30px;
            text-align: start;
        }
    }

    .footer__bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            margin-left: 100px;
        }
    }
}

@media screen and (max-width: 700px) {
    .footer {

        .footer__info {
            flex-wrap: wrap;
        }
    }
}