.games-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 20px;
    justify-items: center;
    align-items: center;

    .game-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
        background-color: #FCFC69;
        border-radius: 6px;
        transition-duration: .2s;

        h3 {
            width: 100%;
            text-align: center;
            font-size: 2rem;
        }

        img {
            width: 70%;
            height: 50%;
        }

        button {
            width: 50%;
            height: 40px;
            margin: 20px 0;
            border: none;
            border-radius: 20px;
            font-size: 1.5rem;
        }

        &:hover {
            background-color: #FEFE3F;
        }
    }
}

.game {
    background-color: pink;
}