.games-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,200px);
    justify-items: center;
    align-items: center;

    .game-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        border: 1px solid;
        border-radius: 6px;
        transition-duration: .2s;

        &:hover {
            background-color: #efefef;
        }
    }
}

.game {
    background-color: pink;
}