.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    height: 80px;
    background-color: grey;
    padding: 0 20px;

    h1 {
        margin: 0;
    }

    .header__navbar {
        display: flex;
        align-items: center;

        .language {
            border-left: 2px solid;
        }

        &>* {
           margin: 0 10px; 
           padding: 4px 8px;
        }
    }
}