@keyframes popUp {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@mixin animation {
    animation-name: popUp;
    animation-duration: .2s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px;
    height: 80px;
    background-color: #76B947;
    padding: 0 60px;
    z-index: 10;

    h1 {
        margin: 0;
    }

    .header__menu{
        font-size: 40px;
        height: 80px;
        margin-right: -15px;
    }

    .header__navbar {
        display: flex;
        align-items: center;

        span {
            cursor: pointer;
        }

        .menu {
            display: flex;
            flex-direction: column;
            padding: 0;
            cursor: pointer;
            position: absolute;
            background-color: #efab45;
            @include animation();

            span {
                padding: 4px 8px;
                transition-duration: .2s;

                &:hover {
                    background-color: #efefef;
                }
                }
            }
        

        .teachers {
            top: 60px;
            right: 420px;
        }

        .parents {
            top: 60px;
            right: 320px;
        }

        .language {
            border-left: 2px solid;
            padding: 8px 30px;
        }

        .login {
            background-color: #efab45;
            width: 100px;
            height: 40px;
            transition-duration: .2s;

            &:hover {
                border: 2px solid #efab45;
                background-color: transparent;
            }

            &:active {
                background-color: #cf8b25;
            }
        }

        .logout {
            background-color: #188efa;
            &:active {
                background-color: #184eaa;
            }
        }

        &>* {
           margin: 0 10px; 
           padding: 8px 8px;
        }
    }

    .header__responsive-navbar {
        background-color: #188efa;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        text-align: center;

        span {
            display: block;
            margin: 20px 0;
        }

        .login{
            height: auto;
        }
    }
}

@media screen and (max-width: 700px) {
}