.memory {
    h2 {
        background-color: green;
    }

    .btn-container {
        justify-content: center;
        padding: 20px 0;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4,minmax(100px,150px));
        grid-template-columns: repeat(4,minmax(100px,150px));

        button {
            height: 100px;
        }

        button:nth-child(1) {
            border-top-left-radius: 50px;
        }
        button:nth-child(4) {
            border-top-right-radius: 50px;
        }
        button:nth-child(13) {
            border-bottom-left-radius: 50px;
        }
        button:nth-child(16) {
            border-bottom-right-radius: 50px;
        }
    }
}