.memory {
    h2 {
        background-color: green;
    }

    .btn-container {
        justify-content: center;
        padding: 20px 0;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4,minmax(100px,150px));
        grid-template-columns: repeat(4,minmax(100px,150px));

        button {
            height: 100px;
        }
    }
}