.quiz {

    .quiz__container {
        text-align: center;

        .questions {
            display: grid;
            grid-template-columns: repeat(2,30%);
            grid-template-rows: repeat(2,100px);
            gap: 30px;
            justify-content: center;

            button {
                font-size: 30px;
            }
        }

    }
    .message {
        text-align: center;
        font-size: 40px;
        background-color: red;
        margin: 20px 0;
        padding: 20px 0;
    }

    .green {
        background-color: green;
    }
}

@media screen and (max-width: 700px) {

    .quiz {
        .quiz__container {
            .questions {
                grid-template-columns: repeat(2,40%);
                grid-template-rows: repeat(2,80px);
            }
        }
    }
}