.tic-tac-toe {

    .tic-tac-toe__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,80px);
        grid-template-rows: repeat(3,80px);
        gap: 5px;
        justify-content: center;
        padding-top: 50px;

        button {
            font-size: 40px;
            border: none;
        }
    }
}