body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Kumbh Sans','Inter', sans-serif;
  background-color: #FAFAFA;
  position: relative;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  display: block;
}

@-webkit-keyframes popUp {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes popUp {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0px;
  left: 0px;
  height: 80px;
  background-color: #FFF;
  padding: 0 60px;
  z-index: 10;
  -webkit-box-shadow: 10px 10px 20px #efefef;
          box-shadow: 10px 10px 20px #efefef;
}

.header h1 {
  margin: 0;
}

.header .header__menu {
  font-size: 40px;
  height: 80px;
  margin-right: -15px;
}

.header .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__navbar span {
  cursor: pointer;
}

.header .header__navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 80px;
  background-color: #FFF;
  border-radius: 0 0 20px 20px;
  -webkit-animation-name: popUp;
          animation-name: popUp;
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
}

.header .header__navbar .menu span {
  padding: 6px 12px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

.header .header__navbar .menu span:hover {
  color: #2266ff;
}

.header .header__navbar .teachers {
  right: 420px;
}

.header .header__navbar .parents {
  right: 320px;
}

.header .header__navbar .language {
  border-left: 2px solid;
  padding: 8px 30px;
}

.header .header__navbar .login {
  background-color: #efab45;
  width: 100px;
  height: 40px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.header .header__navbar .login:hover {
  border: 2px solid #efab45;
  background-color: transparent;
}

.header .header__navbar .login:active {
  background-color: #cf8b25;
}

.header .header__navbar .logout {
  background-color: #188efa;
}

.header .header__navbar .logout:active {
  background-color: #184eaa;
}

.header .header__navbar > * {
  margin: 0 10px;
  padding: 8px 8px;
}

.header .header__responsive-navbar {
  background-color: #188efa;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  text-align: center;
}

.header .header__responsive-navbar span {
  display: block;
  margin: 20px 0;
}

.header .header__responsive-navbar .login {
  height: auto;
}

@-webkit-keyframes title {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  25% {
    -webkit-transform: translateY(5px) translateX(8px);
            transform: translateY(5px) translateX(8px);
  }
  50% {
    -webkit-transform: translateY(2px) translateX(5px);
            transform: translateY(2px) translateX(5px);
  }
  75% {
    -webkit-transform: translateY(5px) translateX(2px);
            transform: translateY(5px) translateX(2px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@keyframes title {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  25% {
    -webkit-transform: translateY(5px) translateX(8px);
            transform: translateY(5px) translateX(8px);
  }
  50% {
    -webkit-transform: translateY(2px) translateX(5px);
            transform: translateY(2px) translateX(5px);
  }
  75% {
    -webkit-transform: translateY(5px) translateX(2px);
            transform: translateY(5px) translateX(2px);
  }
  100% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
}

@-webkit-keyframes subtitle {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes subtitle {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes animationIcon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animationIcon {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.home .home__first-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-position: 50%;
}

.home .home__first-page h1 {
  font-size: 8rem;
  line-height: 0;
  -webkit-animation: title 8s ease-in-out infinite;
          animation: title 8s ease-in-out infinite;
  z-index: 1;
}

.home .home__first-page h3 {
  font-size: 2rem;
  -webkit-animation: subtitle 3s linear infinite;
          animation: subtitle 3s linear infinite;
}

.home h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 80px;
}

.home .home__first-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .home__first-line .animation {
  -webkit-animation: animationIcon 3s linear 6s infinite;
          animation: animationIcon 3s linear 6s infinite;
}

.home .home__first-line > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 20px 20px;
}

.home img {
  padding: 0;
  width: 100%;
  height: 100vh;
}

.home__info {
  padding: 0 80px;
}

@media screen and (max-width: 700px) {
  .home .home__first-page h1 {
    font-size: 4rem;
  }
  .home .home__first-page h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 700px) {
  .home .home__info {
    padding: 0 20px;
  }
}

.games-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games-container .game-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 90%;
  background-color: #FCFC69;
  border-radius: 50px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.games-container .game-link h3 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.games-container .game-link img {
  width: 70%;
  height: 50%;
}

.games-container .game-link button {
  width: 50%;
  height: 40px;
  margin: 20px 0;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.games-container .game-link button:hover {
  background-color: #2244ff;
}

.games-container .game-link:hover {
  background-color: #FEFE3F;
}

.game {
  margin-top: 100px;
}

@media screen and (max-width: 1000px) {
  .games-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
    gap: 10px;
  }
}

@media screen and (max-width: 700px) {
  .games-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

.anagram {
  text-align: center;
}

.anagram input {
  height: 50px;
  font-size: 30px;
  width: 200px;
}

.anagram button {
  height: 50px;
  margin-left: 10px;
}

.maths .maths__container {
  margin: 20px 0;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
}

.maths .maths__container input {
  font-size: 20px;
}

.maths .maths__container div {
  margin: 10px 0;
}

.maths .maths__container button {
  margin-top: 20px;
  font-size: 20px;
}

.memory h2 {
  background-color: green;
}

.pyramid .pyramid__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pyramid .pyramid__container input {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid;
  margin: 2px 4px;
  font-size: 20px;
  text-align: center;
}

.pyramid .clock-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 40px 0;
  font-size: 25px;
}

.pyramid .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.pyramid .btn-container button {
  font-size: 25px;
}

@media screen and (max-width: 800px) {
  .pyramid .pyramid__container input {
    width: 10vw;
  }
}

.quiz .quiz__container {
  text-align: center;
}

.quiz .quiz__container .questions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[2];
      grid-template-columns: repeat(2, 30%);
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quiz .quiz__container .questions button {
  font-size: 30px;
}

.quiz .message {
  text-align: center;
  font-size: 40px;
  background-color: red;
  margin: 20px 0;
  padding: 20px 0;
}

.quiz .green {
  background-color: green;
}

@media screen and (max-width: 700px) {
  .quiz .quiz__container .questions {
    -ms-grid-columns: (40%)[2];
        grid-template-columns: repeat(2, 40%);
    -ms-grid-rows: (80px)[2];
        grid-template-rows: repeat(2, 80px);
  }
}

.tic-tac-toe .tic-tac-toe__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (80px)[3];
      grid-template-columns: repeat(3, 80px);
  -ms-grid-rows: (80px)[3];
      grid-template-rows: repeat(3, 80px);
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0;
}

.tic-tac-toe .tic-tac-toe__container button {
  font-size: 40px;
  border: none;
}

.tic-tac-toe .messagge-container {
  margin: 30px 0;
  padding: 30px 0;
  text-align: center;
  font-size: 25px;
}

.tic-tac-toe .messagge-container button {
  font-size: 25px;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.form {
  display: -ms-grid;
  display: grid;
  background-color: lightblue;
  padding: 50px;
  width: 350px;
  border-radius: 20px;
}

.form input {
  margin-bottom: 40px;
}

.form button {
  background-color: lightcoral;
  border: none;
  padding: 4px;
}

.clock {
  background-color: aqua;
  display: inline-block;
}

.info {
  margin-top: 100px;
}

.footer {
  text-align: center;
  padding-top: 20px;
  background-color: #188efa;
}

.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__info > div {
  margin: 0 30px;
  text-align: start;
}

.footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer .footer__bottom p {
  margin-left: 100px;
}

@media screen and (max-width: 700px) {
  .footer .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 20px;
  }
  .footer .footer__bottom p {
    margin-left: 0;
  }
}
/*# sourceMappingURL=main.css.map */