html,
body {
  padding: 0 10px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Inter', sans-serif;
  padding-top: 40px;
  background-color: #FDFD96;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0px;
  left: 0px;
  height: 80px;
  background-color: grey;
  padding: 0 20px;
}

.header h1 {
  margin: 0;
}

.header .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__navbar .language {
  border-left: 2px solid;
}

.header .header__navbar > * {
  margin: 0 10px;
  padding: 4px 8px;
}

.games-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.games-container .game-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 90%;
  background-color: #FCFC69;
  border-radius: 6px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.games-container .game-link h3 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.games-container .game-link img {
  width: 70%;
  height: 50%;
}

.games-container .game-link button {
  width: 50%;
  height: 40px;
  margin: 20px 0;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
}

.games-container .game-link:hover {
  background-color: #FEFE3F;
}

.game {
  background-color: pink;
}

.anagram h2 {
  background-color: green;
}

.maths h2 {
  background-color: green;
}

.memory h2 {
  background-color: green;
}

.pyramid .pyramid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pyramid .pyramid input {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid;
  margin: 2px 4px;
  font-size: 20px;
  text-align: center;
}

.quiz h2 {
  background-color: green;
}

.quiz .quiz__container {
  text-align: center;
}

.quiz .quiz__container .questions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[2];
      grid-template-columns: repeat(2, 30%);
  -ms-grid-rows: (100px)[2];
      grid-template-rows: repeat(2, 100px);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quiz .quiz__container .questions button {
  font-size: 30px;
}

.tic-tac-toe .tic-tac-toe__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (80px)[3];
      grid-template-columns: repeat(3, 80px);
  -ms-grid-rows: (80px)[3];
      grid-template-rows: repeat(3, 80px);
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tic-tac-toe .tic-tac-toe__container button {
  font-size: 40px;
  border: none;
}

.clock {
  background-color: aqua;
  display: inline-block;
}

.footer {
  margin: 0 -20px;
  text-align: center;
  padding: 20px 0;
  background-color: grey;
}

.footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__info > div {
  margin: 0 10px;
  text-align: start;
}

.footer .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */